name: Publish docs site to GitHub Pages
on:
  push:
    tags:
      - '*'
  workflow_run:
    workflows: ['Publish to NPM']
    types:
      - completed

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'npm'

      - run: npm install --frozen-lockfile
      - run: npm run docs:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
